<body class="bg-light">
  <div class="container">
    <h2 class="title">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="row">
        <div class="col-md-8">
          <div class="field form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <div class="field form-group">
            <%= f.label :password %><br />
            <%= f.password_field :password, class: "form-control", autocomplete: "current-password" %>
          </div>
        </div>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field form-check">
          <%= f.check_box :remember_me, class: "form-check-input" %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class: "btn btn-secondary" %>
      </div>
    <% end %>
    <br />
    <%= render "devise/shared/links" %>
  </div>
</body>
